@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;
  --card: 0 0% 100%;
  --card-foreground: 240 10% 3.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 240 10% 3.9%;
  --primary: 240 5.9% 10%;
  --primary-foreground: 0 0% 98%;
  --secondary: 240 4.8% 95.9%;
  --secondary-foreground: 240 5.9% 10%;
  --muted: 240 4.8% 95.9%;
  --muted-foreground: 240 3.8% 46.1%;
  --accent: 240 4.8% 95.9%;
  --accent-foreground: 240 5.9% 10%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;
  --border: 240 5.9% 90%;
  --input: 240 5.9% 90%;
  --ring: 240 5.9% 10%;
  --font-sans: "DM Sans",ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
  --font-mono: "DM Mono",ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji";

  --radius: 0.5rem;
}

[data-kb-theme="dark"] {
  --background: 240 10% 3.9%;
  --foreground: 0 0% 98%;
  --card: 240 10% 3.9%;
  --card-foreground: 0 0% 98%;
  --popover: 240 10% 3.9%;
  --popover-foreground: 0 0% 98%;
  --primary: 0 0% 98%;
  --primary-foreground: 240 5.9% 10%;
  --secondary: 240 3.7% 15.9%;
  --secondary-foreground: 0 0% 98%;
  --muted: 240 3.7% 15.9%;
  --muted-foreground: 240 5% 64.9%;
  --accent: 240 3.7% 15.9%;
  --accent-foreground: 0 0% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 0% 98%;
  --border: 240 3.7% 15.9%;
  --input: 240 3.7% 15.9%;
  --ring: 240 4.9% 83.9%;
}


* {
  border-width: 0;
  border-style: solid;
  box-sizing: border-box;
  @apply border-border;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
}

html {
  height: 100vh;
}

body {
  margin: 0;
  height: 100%;
  font-family: var(--font-sans);
  @apply bg-background text-foreground;
}

button {
  font-family: var(--font-sans);
  padding-inline: 0;
  padding-block: 0;
  cursor: pointer;
}

input {
  font-family: var(--font-sans);
}

hr {
  margin: 0;
}

#root {
  height: 100%;
  display: flex;
}

code, pre, textarea {
  font-family: var(--font-mono);
}

/* 滚动条细化 */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #77777760;
  background-clip: padding-box;
  min-height: 28px;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #77777770;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

a {
  /* color: var(--accent); */
  text-decoration-style: dotted;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.25rem;
  color: var(--accent);
  transition: 0.1s;
}

a:hover {
  text-decoration-thickness: 1px;
  text-decoration-style: solid;
}